.range_container {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
}

.sliders_control {
  position: relative;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 6px;
  height: 24px;
  background-color: #ffbfbf;
  border-radius: 25%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 6px;
  height: 24px;
  background-color: #ffbfbf;
  border-radius: 25%;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #be7676;
}

input[type=range]::-webkit-slider-thumb:active {
  background: #cf8181;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: #ff8787;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

#startDate, #endDate {
  height: 30px;
  background-color: #ff6680;
  border: solid 1px white;
  color: white;
}

#startDate::-webkit-calendar-picker-indicator, #endDate::-webkit-calendar-picker-indicator {
  background-image: None;
}

#startDate::slotted, #endDate::slotted {
  margin: auto;
}

/* view rawdualRangeSlider.css hosted with ❤ by GitHub */
