html {
  background-color: #ff6a83;
  font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
  height: 100vh;
  box-sizing: border-box;
  margin: auto;
  line-height: 1.4;
}

* {
  box-sizing: inherit;
}

main {
  /* height: fit-content; */
  gap: 15px;
  color: white;
}

img {
  /* max-width: 100%; */
  /* height: auto; */
}

.icon {
  padding-left: 20px;
  padding-right: 20px;
  /* margin: auto; */
  /* border: solid; */
}

/* Main content of left/top side of page */
#left-side {
  display: flex;
  flex-direction: column;
  background-color: #6d0721;
  gap: 15px;
}

#main-title {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-size: 1.4em;
  border: solid;
}

#main-icon {
  margin: auto;
  padding: 10px;
}

#sub-title {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  padding: 10px;
  border: solid;
}

#date-range {
  margin: auto;
  border: solid;
  padding: 10px;
}

#startDate, #endDate {
  height: 30px;
  background-color: #ff6680;
  border: solid 1px white;
}

#startDate::-webkit-calendar-picker-indicator, #endDate::-webkit-calendar-picker-indicator {
  background-image: None;
}

#startDate::slotted, #endDate::slotted {
  margin: auto;
}

#last-price-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  border: solid;
}

#last-price-date {
  font-family: wf_standard-font, helvetica, arial, sans-serif;
  margin: auto;
  font-size: 1.75em;
  padding: 0px;
}

#last-price-details {
  font-size: 1.4em;
  text-align: center;
}

#stock-index {
  padding: 10px;
  border: solid;
}

#stock-table {
  padding: 10px;
  border: solid;
}

table {
  /* display: block;  */
  overflow-y: scroll; 
  width: inherit;
  border-collapse: collapse;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: #ff6680;
  text-align: left;
  border: solid;
}

thead {
  border-bottom: solid 2px;
}

th, td {
  vertical-align: top;
  padding: 0.6em;
  border: solid 1px #6d0721;
}

td {
  background-color: #6d0721;
  text-align: right;
}

/* Main content of right/bottom side of page */
#right-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

canvas {
  height: 10px;
}

.chart-container {
  height:100px;
}

#moving-averages {
  display: flex;
  flex-direction: column;
  background-color: #6d0721;
  gap: 10px;
  padding: 10px;
  border: solid;
}

#moving-average-title {
  display: grid;
  grid-template-columns: 1fr .8fr;
  padding-left: 10px;
  border: solid;
}

#ticker-group {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  text-align: center;
  margin: auto;
  border: solid;
}

#ticker-symbol {
  font-family: wf_standard-font, helvetica, arial, sans-serif;
  font-size: 2em;
}

#moving-average-group {
  border: solid;
}

#trading-volume-group {
  border: solid;
}

#top-worst {
  background-color: #6d0721;
  padding: 10px;
  border: solid;
}

#day-average-group {
  display: flex;
  text-align: center;
  gap: 10px;
}

.day-average {
  flex-grow: 1;
  min-height: inherit;
  height: 200px;
  border: solid;
}

/* Footer content of page */
footer {
  display: flex;
  padding-left: 10px;
  border: solid;
}

/*Landscape mode*/
@media (min-width: 1000px) { 
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px
  }

  #main-icon {
    height: 10vh;
  }

  #social-media {
    display: flex;
    margin: auto;
  }

  .icon {
    height: 6vh;
  }
}

/*Portrait mode*/
@media (max-width: 700px) { 
  main {
    display: flex;
    flex-direction: column;
  } 

  #main-icon {
    height: 1vh;
  }

  #social-media {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .icon {
    height: 5vh;
  }
}